#enWornd-skill6 {
  font-size: 25px;
  display: inline-block;
  font-weight:bold;
  text-align: center;
}
#task-input5 {
  font-size: 25px;
  height: 60px;
  width: 30%;
  display: block;
  text-align: center;
  margin: 0 auto 0 auto;
}